.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm/xcode/package.xcworkspace
Example/JSONCode.xcodeproj/project.xcworkspace
Example/JSONCode.xcodeproj/xcshareddata
*.xcworkspacedata
Example/JSONCode.xcworkspace/xcshareddata
Example/Pods
